<h1> All the students</h1>
<%= render "chicken" %>
<%= render "chicken" %>
<%= render "chicken" %>


<ul>
    <% @students.map do |student_var|%>
        <%# byebug %>
        <li> <%= link_to student_var.full_name, student_path(student_var.id) %> </li>
    <%end%>

</ul>