<h1> <%= @user.username %></h1>

<h2> All of the favorite words of <%= @user.username %> </h2>

<ul>

    <% @user.favorites.each do |fave_var| %>
        <li><%= link_to fave_var.word, word_path(fave_var.word) %> </li>
    <% end %>
    </ul>

<hr>

